@font-face{
    font-family: "roboto";
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-family: "Philosopher";
    src: url(fonts/Philosopher/Philosopher-Regular.ttf);
}
body{
    font-family: "roboto";
    background: #171717;
}
header{
    background:radial-gradient(696.2% 730.65% at 47.6% 26.27%, #181A19 0%, #24282B 68.62%);
    opacity: 1;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
    height: 141px;
}
.nav input{
    background:url(img/loupe.png) no-repeat center right 30px #1B1E1E;
    border: 2px solid #252A2C;
    border-radius: 93px;
    width: 716px;
    height: 64px;
    color: #6D7A7C;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 30px;
}
.logo{
    padding-top: 8px;
}
.nav{
    padding-top: 12px;
    gap: 23px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.nav a{
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
}
.menu ul {
    list-style: none;
    display: none;
    position: absolute;
    background: rgba(28, 29, 31, 0.5);
    border: 1px solid #2B2B2B;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 15px;
    width: 180px;
    height: 435px;
    padding-top: 25px;
}
.menu .title {
    cursor: pointer;
}
.menu .title::before {
    content: '▼';
    font-size: 80%;
    color: #81BECB;
}
.menu.open .title::before {
    content: '▶';
}
.menu.open ul {
    display: block;
}
.wrap{
    width: 1770px;
    margin: 0 auto;
    background: url(img/Фон.png);
}
.banner{
    background: url(img/Баннер.png) no-repeat;
    width: 1343px;
    height: 448px;
    margin-left: -15px;
}
.header-banner{
    height: 61px;
    background: rgba(22, 26, 25, 0.35);
    border-radius: 5px 5px 0px 0px;
}
.header-banner p{
    padding-left: 35px;
    padding-top: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #DBDBDB;
}
.banner h1{
    font-family: "Philosopher";
    margin-left: 110px;
    margin-top: 50px;
    width: 342px;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 102.5%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.points{
    display: block;
    margin: 0 auto;
}
.text-banner p{
    margin-top: 40px;
    width: 1362px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.containers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
}
.container1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
}
.container2{
    margin-top: 20px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
    margin-left: 10px;
    width: 427px;
    height: 702px;
    background: rgba(28, 29, 31, 0.5);
    border: 1px solid #2B2B2B;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
}
.container3{
    margin-top: 250px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
    margin-left: 10px;
    width: 427px;
    height: 608px;
    background: rgba(28, 29, 31, 0.5);
    border: 1px solid #2B2B2B;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
}
.banner-bok{
    margin-top: -7px;
    margin-left: -16px;
}
.collect{
    background: #212121;
    border: 1px solid #2B2B2B;
    border-radius: 5px 5px 0px 0px;
    width: 427px;
    height: 62px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
}
.collect h2{
    margin-left: 20px;
}
.block1 , .time{
    display: flex;
}
.block1{
    margin: 15px 15px;
}
.time{
    margin-top:-16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #A4A4A4;
}
.clock{
    margin: 17px 10px;
}
.main-text-block{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin: -7px 10px;
}
.text-block{
    margin-left: 6px;
}
.line11{
    width: 427px;
    height: 1px;
    background: #2B2B2B;
}
.line-podborki{
    border: 1px solid #81BECB;
    width: 1343px;
    height: 0px;
}
.podborki h2{
    margin-top: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}
.podborki-block1{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.podborki-container1 , .podborki-container2{
    display: flex;
    margin-left: -35px;
    margin-top: 26px;
}
.block1-text p{
    width: 245px;
    margin-left: 25px;
    margin-top: -5px;
}
.frame1, .frame2{
    display: flex;
}
.frames .zeroone, .zeroone1{
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 87px;
    line-height: 102px;
    color: #727272;
}
.smotret img{
    margin-top: -120px;
    margin-left: -15px;
}
.rectangle{
    background: url(img/rectangle.png) no-repeat center rgba(28, 29, 31, 0.5);
    border: 1px solid #2B2B2B;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    width: 428px;
    height: 152px;
}
.info{
    margin-top: -145px;
    margin-left: 20px;
}
.info h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}
.info .way{
    margin-top: -20px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}
.info-block1{
    background: #212121;
    border: 1px solid #2B2B2B;
    border-radius: 5px;
    width: 885px;
    height: 84px;
}
.sad{
    display: flex;
    font-weight: bold;
    font-size: 21px;
    line-height: 23px;
    color: #FFFFFF;
    gap: 50px;
    margin-left: 20px;
    margin-top: -8px;
}
.mad{
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    gap: 130px;
    margin-left: 20px;
    margin-top: -25px;
}
.mad4{
    margin-left: 62px;
}
.info-block2{
    margin-top: 20px;
    background: rgba(28, 29, 31, 0.5);
    border: 1px solid #2B2B2B;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    width: 885px;
    height: 204px;
}
.inf1 , .inf2 ,.inf3,.inf4{
    width: 885px;
    height: 50px;
    border-bottom: 1px solid #2B2B2B;
    display: flex;
    align-items: center;
}
.xan,.xan1,.xan2,.xan3{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 20px;
}
.ban ,.ban1,.ban2{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.ban{
    margin-left: 210px;
}
.ban1{
    margin-left: 196px;
}
.ban2{
    margin-left: 120px;
}
.ban3{
    margin-left: 58px;
}
.ban3 .ds{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.dsa{
    color: #81BECB;
}
.ban3 a{ 
    margin-left: 15px;
}
.info-block3{
    margin-top: 20px;
    background: rgba(28, 29, 31, 0.5);
    border: 1px solid #2B2B2B;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    width: 885px;
    height: 383px;
}
.info-block3 h2{
    margin-left: 20px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}
.p-block{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 751px;
    height: 252px;
    color: #FFFFFF;
    margin-left: 20px;
}
.end{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #81BECB;
    float: right;
    margin-right: 20px;
}
footer{
    margin-top: 118px;
    background: radial-gradient(696.2% 730.65% at 47.6% 26.27%, rgba(24, 26, 25, 0.5) 0%, rgba(36, 40, 43, 0.5) 68.62%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px -7px 16px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    height: 400px;
}
.sada{
    display: flex;
    justify-content: center;
}
.footer-logo{
    margin-top: 32px;
    margin-left: 60px;
}
.menu-footer{
    margin-left: 149px;
    margin-top: 10px;
}
.menu-main-footer{
    font-weight: 700;
    font-size: 18px;
    line-height: 147.69%;
    color: #FFFFFF;
}
.punkt1{
    margin-top: -15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #A8A8A8;
}
.punkt2{
    margin-top: -15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #81BECB;
}
.linear{
    margin-top: 76px;
    margin-left: 146px;
    width: 1px;
    height: 104px;
    background: #323232;
}
.text-footer{
    margin-top: 8px;
    margin-left: 146px;
}
.nas{
    font-weight: 700;
    font-size: 18px;
    line-height: 147.69%;
    color: #FFFFFF;
}
.mainear,.mainear1{
    font-weight: 400;
    font-size: 18px;
    line-height: 135.69%;
    color: #A8A8A8;
    width: 971px;
    height: 144px;
}
.mainear1{
    margin-top: -80px;
}
.prava{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;  
    text-align: center;
    color: #A8A8A8;
    margin-left: -25px;
}
.niz-footer{
    align-items: center;
    margin-left: 40px;
    border-top: 1px solid #323232;
    height: 71px;
    display: flex;
    justify-content: center;
}
.socials{
    margin-left: 453px;
}
.politic{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #A8A8A8;
    margin-left: 570px;
}